/* Character Sheet Wrapper */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
.sheet-wrapper {
    font-family: 'Comic Neue', cursive;
    --col-black: #363B44;
    --col-white: #EBEBEB;
    --col-blue: #4E7FC8;
    --col-red: #DA3A2F;
    --col-yellow: #E0AC00;
    --col-purple: #7E627F;
    --font-normal: "Comic Neue", cursive; 
    --font-header: "Comic Neue", cursive;
    --bg-halftone: url("https://i.imgur.com/gCUY6ka.png");
    --bg-halftone-w: url("https://i.imgur.com/9nraS6y.png");
    --bg-texture: url("https://i.imgur.com/IqY5rW0.jpg");
    background: var(--col-white);
    border-radius: 20px;
    padding: 15px 10px;
    color: var(--col-black);
}

body {
    font-family: 'Comic Neue', cursive;
    font-size: 14px;
    font-weight: bold;
}

b {
    font-family: 'Comic Neue', cursive;
    font-size: 14px;
    font-weight: bold;
}

input[type="radio"] {margin: 0px 4px; align-self: center;}
input {color: var(--col-black);}
input[type="text"].sheet-output-message {
    background: #FFEE88;
    border    : none;
    left      : 0;
    position  :absolute;
    right     : 0;
    text-align: center;
    top       : 0;
    width     : 100%;
    z-index   :101;}

.sheet-hide-output {
    position:absolute;
    right   : 6px;
    top     : 6px;
    width   :auto;
    z-index : 103;}

input.sheet-hide-output {
    opacity:0;}

input[type="checkbox"].sheet-hide-output + span::before {
    content   : "x";
    display   : inline-block;
    font-family: "Comic Neue", cursive;
    font-size : 20px;
    height    : 10px;
    position  :absolute;
    right     : 7px;
    text-align: center;
    top       : 2px;
    width     : auto;
    z-index   : 102;}

input.sheet-hide-output:checked,
input.sheet-hide-output:checked + span,
input.sheet-hide-output:checked ~ .sheet-output-message {
    display:none;}

input.sheet-no-border {
    border:none;
    background:none;
    box-shadow:unset;}

.sheet-macro-show:not(:checked)~.sheet-macro {
    display:none;}

input[type="checkbox"].sheet-macro-show + span::before {
    margin-right: 4px;
    line-height: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    content: "►";
    width: 10px;
    height: 10px;
    font-family: "Comic Neue", cursive;
    font-size: 10px;}

input[type="checkbox"].sheet-macro-show:checked + span::before {
    content: "▼";}

.sheet-secret-macro-show,
.sheet-secret-macro-show:not(:checked)~.sheet-macro {
    display:none;}

hr {
    border-color:black;}

input[type="text"], 
select {
    width:100%;
    margin:0;}

textarea {
    width:95%;}



/* *************************************************************************** */
/*                               Tab styling                                   */
/* Fake tabs style1 (reskinned radio button; fixed to work properly in firefox */

div.sheet-tab-content { display: none; }

input.sheet-tab[value="details"] ~ div.sheet-tab1,
input.sheet-tab[value="stats"] ~ div.sheet-tab2,
input.sheet-tab[value="powers"] ~ div.sheet-tab3,
input.sheet-tab[value="advantages"] ~ div.sheet-tab4,
input.sheet-tab[value="devices"] ~ div.sheet-tab5,
input.sheet-tab[value="equipment"] ~ div.sheet-tab6 {
    display: block;}

input.sheet-tab[value="details"] ~ button[name="act_details"],
input.sheet-tab[value="stats"] ~ button[name="act_stats"],
input.sheet-tab[value="powers"] ~ button[name="act_powers"],
input.sheet-tab[value="devices"] ~ button[name="act_devices"],
input.sheet-tab[value="advantages"] ~ button[name="act_advantages"],
input.sheet-tab[value="equipment"] ~ button[name="act_equipment"]{
    background: #d1d1d1;}

input.sheet-tab {
    cursor  : pointer;
    height  : 24px;
    left    : 6px;
    margin  : 2.4px;
    opacity : 0;
    position: relative;
    top     : 8px;
    width   : 263px;
    z-index : 9999;}

span.sheet-tab {
     background : white;
     color      : black;
     display    : inline-block;
     font-family: "Comic Neue", cursive;
     font-size  : 13px;
     font-weight: bold;
     height     : 20px;
     margin-left: -263.4px;
     margin-top : 4px;
     position   : relative;
     text-align : center;
     width      : 259px;}

input.sheet-tab::before {
    background         : #fff;
    background         : -moz-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background         : -ms-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background         : -o-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background         : -webkit-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background         : linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    border             : solid 1px #a8a8a8;
    border-bottom-color: black;
    content            : attr(title);
    display            : inline-block;
    font-family        : "Comic Neue", cursive;
    font-size          : 18px;
    height             : 20px;
    text-align         : center;
    width              : 240px;}

input.sheet-tab:checked::before {
    background         : #dcdcdc;
    background         : -moz-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background         : -ms-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background         : -o-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background         : -webkit-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background         : linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    border-bottom-color: #fff;}

input.sheet-tab:not(:first-child)::before { border-left: none; }

div.sheet-tab-content {
    border: 1px solid #a8a8a8;
    border-top-color: #000;
    margin: 2px 0 0 5px;
    padding: 5px;}

.sheet-tab {
    display: inline-block;
    text-align: center;
    margin: -2px;
    padding: 2px;
    width: 124px;
    height: 24px;
    background-color: gray;
    border-top-left-radius: 1em 3em;
    border-top-right-radius: 1em 3em;
    border: solid thin gray;
    border-bottom: none;}

/* Stats Tab Styling */

/* Options page select styling */
.sheet-small-label1 select {
    display: inline-block;
    margin-top: 10px;
    width: 110px;
    border: 1px;
    font-family: "Comic Neue", cursive;}


/*            Cassie's updates        */
button {
    border-bottom             : 2px solid #666;
    border-bottom-right-radius: 2px;
    border-color              : #aaa;
    border-radius             : 5px;
    border-right              : 3px solid #999;
    border-style              : outset;
    font-family               : "Comic Neue", cursive;}

button:hover {
    border-color: #fe1611;
    color       : #fe8412;
    font-family: "Comic Neue", cursive;
    font-weight : bold;
}

/* Remove the Die Icon */
button::before {
  display: none;}


/* ****************************************** */
/*          General Styling                   */
/* ****************************************** */
img {
    max-height   : 100px;}

label {
    font-family: "Comic Neue", cursive;
    display: inline-block;
    font-size    : 1em;
    margin-bottom: 0px;
    padding-right: 0px;
    width: fit-content;
    font-weight: bold;}

span.sheet-label {
    font-family: "Comic Neue", cursive;
    display: inline-block;
    font-size    : 1.15em;
    margin-bottom: 0px;
    padding-left: 10px;
    width: fit-content;
    font-weight: bold;}

textarea {
    min-height: 90px;
    resize: vertical;}

.charsheet {
    padding: 0px;
    width: 850px;}

.charsheet label {
    font-family: "Comic Neue", cursive;
    display: inline-flex;
    font-size: 1.1em;
    margin-bottom: 0px;
    padding-right: 0px;
    width: fit-content;
    font-weight: bold;
}

div.sheet-2colrow div.sheet-col {
    margin-right: 1% !important;}

div.sheet-2colrow div.sheet-col:nth-of-type(2) {
    width: calc(52% - 20px);}

span.sheet-note {
    font-family: "Comic Neue", cursive;
    font-size  : 10px;
    width      : 100%;}


/* ******************************************************* */
/*                   Section Specific styles               */
/* ******************************************************* */

div.sheet-section-notes,
div.sheet-section-abilities,
div.sheet-section-skills
 {
    background: rgba(244,244,244,100); /* grey */
    border: 2px solid black;
    background-image: url('http://fyndhal.woobsha.com/graphics/circuit-board-hero-patterns-orange.png');}

/* ************************************** */
/*            Details Section             */
/* **(General info box at top of sheet)** */
/* ************************************** */

div.sheet-section-details {
    border-style    :solid;
    border-width    :2px;
    display         : grid;
    border-radius: 15px 15px 0px 0px;
    grid-template-columns: 1fr 320px;
    grid-template-areas: 
        "character logo"
        "details details2"
        "power power";
    background  : var(--bg-halftone) var(--col-yellow);
    background-blend-mode: overlay, multiply, multiply;}

div.sheet-section-details input[type="text"],
div.sheet-section-details input[type="number"] {
   border       : none;
   border-bottom: 1px solid #333;
   border-radius: 10px;
   background  : rgb(255, 255, 255, 0.5);
   text-align: center;}

div.sheet-section-details div.sheet-character {grid-area: character; position: relative;}
div.sheet-section-details div.sheet-character input:first-of-type:not(:placeholder-shown) {
    background: linear-gradient(60deg, var(--col-black) 60%, rgba(0,0,0,0) 90%);
    color: var(--col-white);
    position: relative;
    border-radius: 10px 0px 0px 0px;}

div.sheet-section-details div.sheet-character ::after {
    content: "as the incredible";
    color: var(--col-white);
    font-family: "Comic Neue", cursive;
    font-size: 24px;
    position: absolute;
    right: 20%;
    top: 20%;
}

div.sheet-section-details div.sheet-character input:nth-of-type(2):not(:placeholder-shown) {
    font-family: "Comic Neue", cursive;
    font-size: 6rem;
    height: 6rem;
    border: none;
    background: none;
    color: var(--col-white);
    text-shadow: 2px 2px 0px var(--col-red), 1px 1px 0px var(--col-black);
}

div.sheet-section-details div.sheet-character input {font-family: "Comic Neue", cursive; font-size: 24px;}
div.sheet-section-details img {grid-area: logo; align-self: center; justify-self: center; width: 90%;}
div.sheet-section-details div.sheet-details1 {
    grid-area   : details;
    margin      : 1vh auto;
    background  : rgb(255, 255, 255, 0.5);
    padding     : 15px;
    display     : grid;
    gap         : 0.5em;
    grid-template-columns: [option] 1fr [option]20px 1fr 50px 1fr 50px 1fr 50px;}

div.sheet-section-details div.sheet-details1 b {align-self: center; justify-self: end;}
div.sheet-left-grid {
    grid-area: identity;
    display: grid;
    grid-template-columns: 1fr 50px;}

div.sheet-section-details div.sheet-details2 {
    grid-area: details2; 
    display: grid;
    grid-template-columns: 1fr 80px;
    margin: 10px;
}
div.sheet-section-details div.sheet-details2 input[type="text"] {
    font-size: 18px;
    font-family: "Comic Neue", cursive;}

div.sheet-section-details div.sheet-details2 div:nth-of-type(2) {
    width: 80px;
    height: 70px;
    position: relative;
    background: var(--bg-texture);
    display: flex;
    margin: 0 5%;
    font-family: "Comic Neue", cursive;
    font-size: 48px;
    text-align: center;
    justify-content: center;
    border-radius: 0;
    transition: all 200ms;
    border: 2px solid var(--col-black); }

    div.sheet-section-details div.sheet-details2 div:nth-of-type(2):hover {
        background: white;
    }
div.sheet-section-details div.sheet-details2 div:nth-of-type(2) input[type="number"]:placeholder-shown {
    font-family: "Comic Neue", cursive;
    font-size: 12px;
}
div.sheet-section-details div.sheet-details2 div:nth-of-type(2) input[type="number"] { 
    background: none;
    border: none;
    font-size: 48px;
    height: 48px;
    width: 60px;
    margin: auto 20% auto 0;
    text-align: center;
}
div.sheet-section-details div.sheet-details2 div:nth-of-type(2) input::-webkit-outer-spin-button,
div.sheet-section-details div.sheet-details2 div:nth-of-type(2) input::-webkit-inner-spin-button,
div.sheet-section-details div.sheet-power input[type="number"]::-webkit-outer-spin-button,
div.sheet-section-details div.sheet-power input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* Firefox */
div.sheet-section-details div.sheet-details2 div:nth-of-type(2) input[type=number],
div.sheet-section-details div.sheet-power input[type="number"] {
  -moz-appearance: textfield;
}
div.sheet-section-details div.sheet-details2 span {
    font-family: "Comic Neue", cursive;
    font-size: 28px;
    color: var(--col-black);
    position: absolute;
    top: 20%;
    right: 10%;
}

div.sheet-section-details div.sheet-power {
    background  : var(--col-black); 
    color: var(--col-white);
    text-align  : center;
    padding     : 2px; 
    grid-area   : power;}
div.sheet-section-details div.sheet-power input[type="number"] {
    margin: 0px 0.3em;
    width: 45px;
}
    
/* ****************************** */
/*    Stats & Skills (page 2)     */
/* ****************************** */

/*         Abilities Section        */
div.sheet-section-skills button[type="roll"],
div.sheet-section-abilities button[type="roll"] {
    margin-bottom: 3px;
    margin-left  : 10%;
    margin-right : 5%;
    width        : 30%;}

div.sheet-section-abilities input[type="number"] {
    margin-right: 4.5%;}

div.sheet-section-skills input[type="number"]{
    margin-right: -43.5%;
    margin-left: 48.5%;}

div.sheet-section-skills label,    
div.sheet-section-abilities label {
    margin-right : 6%;
    text-align   : center;
    width        : 10%;}

div.sheet-section-skills label:nth-of-type(1),
div.sheet-section-abilities label:nth-of-type(1) {
    margin-left : 22.5%;
    margin-right: 15%;}

div.sheet-section-options{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    padding: 20px 0px 25px 90px;}
    
div.sheet-section-options label{
    width: 150px;}
    
div.sheet-section-options select {
    border: 1px solid black;}

div.sheet-section-options div.section-skills div.sheet-details-row{
    width: 230px;
    margin-bottom: 5px;
    display: flex;}

div.sheet-section-options div.section-abilities div.sheet-details-row{
    width: 230px;
    margin-bottom: 5px;
    display: flex;}

/*        Power Points, Hero Points & Injuries Section   */
/* Starting & Earned Power Points */



/* Injuries Box */


/*          Defense Section      */



/* Defense  -Total*/


/* Defense  - Points */



/* Defense  - The Labels for Names */



/*        Offense  Section  */


/*       Modifiers Section   */
    /* Name */


    /* Defense */




/* Fixes top row for firefox */




/*        Skills Section       */


/* Fixes top row for firefox */


/*       Notes & Conditions Section  */

div.sheet-section-notes textarea {
    margin-left: 1%;}



/*           Motivations & Complications Section */


/* ************************************* */
/*  Power, Advantage & Equpment (page 2) */
/*             Options          (page 3) */
/* ************************************* */

/*  Power Collapse and Fit by Richard T. */

/* *********** Color Change based on Alternate effects ************ */

/* ************************************* */



/* overrides button in few places, 'fit-content' gives weird results on firefox */




/* ****************************** */
/*        Sheet footer            */
/* ****************************** */

div.sheet-mnm-footer {
    background-color: rgba(244,244,244,100);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7332+0,ff7332+100&0.01+1,1+75 */
    background-image: -moz-linear-gradient(left,  rgba(243,112,36,0.01) 0%, rgba(243,112,36,0.01) 10%, rgba(243,112,36,1) 95%, rgba(243,112,36,1) 100%), url('http://fyndhal.woobsha.com/graphics/circuit-board-hero-patterns-orange.png'); /* FF3.6-15 */
    background-image: -webkit-linear-gradient(left,  rgba(243,112,36,0.01) 0%,rgba(243,112,36,0.01) 10%,rgba(243,112,36,1) 95%,rgba(243,112,36,1) 100%), url('http://fyndhal.woobsha.com/graphics/circuit-board-hero-patterns-orange.png'); /* Chrome10-25,Safari5.1-6 */
    background-image: linear-gradient(to right,  rgba(243,112,36,0.01) 0%,rgba(243,112,36,0.01) 10%,rgba(243,112,36,1) 95%,rgba(243,112,36,1) 100%), url('http://fyndhal.woobsha.com/graphics/circuit-board-hero-patterns-orange.png'); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03ff7332', endColorstr='#ff7332',GradientType=1 ); /* IE6-9 */
    min-height: 50px;
}
.sheet-mnm-logo {
    height: 48px;
    width: auto;
    float: right;
    margin: 1px;
}